## Settings file was created by plugin RememberIPDamnit v0.2
## Plugin GUID: Xenofell.RememberIPDamnit

[RememberIPDamnit]

# Setting type: String
# Default value: 
Address = 23.158.176.20:25584

# Setting type: String
# Default value: 
Password = redredred

